.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.click {
  padding: 10px 20px 10px;
  
}

.card {
  margin: 10px;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid greenyellow;
  box-shadow: hotpink;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
